<h1 class="text-center">Invoice</h1>
<div class="container invoice-preview" id="printInvoice">
  {{#let this.model as |detail|}}
    <div class="row border border-dark p-3">
      <div class="col-6">
        <p>Invoice Number: {{detail.invoiceNumber}}</p>
        <p>Order No: {{detail.orderNo}}</p>
        <p>Invoice Date: {{detail.invoiceDate}}</p>
      </div>
      <div class="col-6 text-right">
        <p>Customer Name: {{detail.customerName}}</p>
        <p>Sales Person: {{detail.salesPerson}}</p>
      </div>
    </div>
    <div class="row text-center border border-dark p-3">
      {{detail.subject}}
    </div>
    <div class="row border border-dark p-3">
      <table class="table table-bordered border border-dark">
        <thead>
          <tr>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Rate</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          {{#each detail.items as |item|}}
            <tr>
              <td>{{item.itemName}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.rate}}</td>
              <td>{{item.amount}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{/let}}
</div>
<div class="text-center">
  <button class="btn btn-primary" {{action "printPdf"}}>Print Invoice</button>
</div>

{{outlet}}
