<div class="container mt-5">
  <div class="card text-center">
    <div class="card-body">
      {{!-- <form {{action "searchPokemon" on="submit"}}>
        {{input value=searchTerm action="searchPokemon"}}
        {{input type="submit" class="btn btn-primary" value="Search"}}
      </form> --}}
      <Input @value={{searchTerm}} @placeholder="Type in the pokemon name" @input={{action "searchPokemon"}} />
    </div>
  </div>
  {{#each this.pokeData as |model|}}
    {{#let (concat "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/" (adder model.id) ".png") as |imgURL|}}
      <PokemonCard @pokemon={{model}} @img={{imgURL}} @action="testAction" />
    {{/let}}
    {{!-- <PokemonCard @pokemon={{model}} @hey={{action "testAction"}} /> --}}
  {{else}}
    <div class="card">
      <div class="card-body p-4">
        <h2>Couldn't catch any Pokemons for your search - <b>{{lastSearch}}</b>. Try different pokemon </h2>
      </div>
    </div>
  {{/each}}
</div>